/*
/*/
!/.gitignore
!/.zshrc
!/.xinitrc
!/.Xresources
!/.tmux.conf
!/mountain.theme.css
!/i3/
!/doom/
!/nvim/
!/polybar/
!/rofi/
!/dunst/
!/wallpapers/
!/docs/
!/spicetify/Themes/
!/alacritty
!/qutebrowser
!/zathura
!/vis
!/fonts
!/README.md

qutebrowser/mountain/__pycache__/__init__.cpython-39.pyc
qutebrowser/mountain/__pycache__/draw.cpython-39.pyc
vis/vis.log
nvim/pack/kite/start/vim-plugin/.travis.yml
nvim/pack/kite/start/vim-plugin/DEVELOPMENT.md
nvim/pack/kite/start/vim-plugin/LICENSE
nvim/pack/kite/start/vim-plugin/LSP.md
nvim/pack/kite/start/vim-plugin/README.md
nvim/pack/kite/start/vim-plugin/VERSION
nvim/pack/kite/start/vim-plugin/autoload/kite.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/async.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/client.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/codenav.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/completion.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/docs.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/document.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/events.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/hover.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/languages.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/metrics.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/onboarding.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/signature.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/snippet.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/status.vim
nvim/pack/kite/start/vim-plugin/autoload/kite/utils.vim
nvim/pack/kite/start/vim-plugin/doc/kite.txt
nvim/pack/kite/start/vim-plugin/lib/linux/kite-http
nvim/pack/kite/start/vim-plugin/lib/macos/kite-http
nvim/pack/kite/start/vim-plugin/lib/windows/kite-http.exe
nvim/pack/kite/start/vim-plugin/lib/windows/md5Sum.exe
nvim/pack/kite/start/vim-plugin/plugin/kite.vim
nvim/pack/kite/start/vim-plugin/syntax/kite.vim
qutebrowser/mountain/__pycache__/draw.cpython-39.pyc