/*
/*/
!/.gitignore
!/.zshrc
!/.xinitrc
!/.Xresources
!/.tmux.conf
!/mountain.theme.css
!/i3/
!/doom/
!/nvim/
!/polybar/
!/rofi/
!/dunst/
!/wallpapers/
!/docs/
!/spicetify/Themes/
!/alacritty
!/qutebrowser
!/zathura
!/vis
!/README.md
