/*
/*/
!/.gitignore
!/.zshrc
!/.Xresources
!/discordthemes/
!/doom/
!/nvim/init.vim
!/polybar/
!/rofi/
!/dunst/
!/wallpapers/
!/docs/
!/spicetify/Themes/
!/alacritty
!/qutebrowser/config.py
!/qutebrowser/startpage/
!/zathura
!/vis/colors/
!/vis/config
!/fonts
!/README.md
!/bspwm
!/sxhkd
!/package_list.txt
!/picom.conf
