configuration {
modi: "window,drun,run,ssh";
width: 900;
lines: 2;
columns: 1;
font: "Open Sans 11";
bw: 1;
show-icons: true;
terminal: "urxvt";
drun-match-fields: "name,generic,exec,categories";
levenshtein-sort: true;
sidebar-mode: true;
combi-modi: "drun,run,ssh";
matching: "fuzzy";
theme: "~/.config/rofi/themes/mountain.rasi";
combi-hide-mode-prefix: true;
}
